
	INSIDE _user_summary
  <section>
    <h4>
      <%= gravatar_for current_user, {size:80} %>
      <%= current_user.name %>
    </h4>
  </section>
  <section>
        <%= render 'shared/infoAccount' %>
  </section>