<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <% if signed_in? %>
      <%= render 'shared/user_summary' %>  
    <% end%>
  </aside>
  <div class="span8">
      <%= render 'shared/transaction_history' %>  
   </div>
</div>
