<% provide(:title, 'Help') %>
<div class="row">
	<aside class="span4">
	    <section>
	    </section>
	</aside>
	<div class="span8 center" style="background-color:lightgray; padding-bottom:20px">
		<h3>Help</h3>
		<p>
			Page of help
		</p>
  	</div>
</div>

