
<% if signed_in? %>
	<h1>Should not enter here</h1>	
<% else %>
	<div class="row">
		<aside class="span4">
		    <section>
		    </section>
		</aside>
		<div class="span8 center" style="border-radius:15px; background-color:lightgray; padding-bottom:20px; margin-bottom:100px">
	    	<h3>Welcome to the Roma Money Rails</h3>
	    	To fast test, <b>sig in</b> with<br>
	    	 email: <b>romalopes@yahoo.com.br</b> / password: <b>foobar</b>
		    <p/>
		    email: <b>cydynha@msn.com</b> / password: <b>foobar</b>
		    <br/>
		    <h5 style="padding-top:20px; color:blue">Next step: Make invitation to share account sending email</h5> <br/>
		    <div style="margin:50px"><%= link_to "Sign up", signup_path, class: "btn btn-large btn-primary" %>
		    </div>

	  	</div>
	</div>
<% end %>

