<div class="row">
	<aside class="span4">
	    <section>
romalopes romalopes romalopes romalopes romalopes romalopes romalopes romalopes romalopes romalopes romalopes romalopes 
	    </section>
	</aside>
	<div class="span8">
romalopes romalopes romalopes romalopes romalopes romalopes romalopes romalopes romalopes romalopes romalopes romalopes romalopes romalopes romalopes romalopes romalopes romalopes romalopes romalopes romalopes romalopes romalopes romalopes 
<center><h1>Roma Money Rails tesT TEST</h1>	</center>
<p>Find me in app/views/home/index.html.erb</p>
	</div>
</div>
<p/>
<p/>
<p/>
<p/>
