 <div id="history_of_transactions" >
 	<%= render 'layouts/messages' %> 
	<%= will_paginate %>

	<ul class="transactions">
	  <% @transactions.each do |transaction| %>
	    <%= render transaction %>  <!-- Call view/accounts/_transaction.html.erb  -->
	  <% end %>
	</ul>  

	<%= will_paginate %>   </div>
</div>	
