 <div id="history_of_transactions" >
	<%= will_paginate %>

	<div class="transactions">
	  <% @transactions.each do |transaction| %>
	    <%= render transaction %>  <!-- Call view/accounts/_transaction.html.erb  -->
	  <% end %>
	</div>  

	<%= will_paginate %>   </div>
</div>	
