<% provide(:title, "Edit and Transaction") %>
<div class="row">
  <aside class="span4">
      
  </aside>
  <div class="span6 transaction-box">
  	<h3>Update an Transaction</h3>
    <%= form_for(@transaction) do |f| %>
      <%= render 'fields_transaction', f: f %>

      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
