<% provide(:title, 'All Transactions') %>
<div class="row">
  <aside class="span4">
      <%= render 'shared/user_summary' %>  
  </aside>
  <div class="span8">
  	<% if current_user.current_account.present? || current_user.accounts_size > 0 %>
  		<%= render 'transactions/verify_transactions' %>  
	<% else %>
		<div class="span8 center grey-box" style="padding:10px">    
			<div >
		        <%= link_to  "New Account", createAccount_path, class: "btn btn-medium btn-primary" %>
			</div>
		</div>
	<% end %>

  </div>	
</div>	  


