<% provide(:title, 'All Transactions') %>
<div class="row">
  <aside class="span4">
      <%= render 'shared/user_summary' %>  
  </aside>
  <div class="span8">
	<h3>All Transactions</h3>
	<%= render 'transactions/transaction_history' %>  
  </div>	
</div>	  




