<%if false%>
<!--<script type="text/javascript">
  $('document').ready(function() {
  $("#sendToTopPage").click(function(){
    $(window).scrollTop(0);
   });
});
</script>
-->
<%end%>
<div id="copywrite">
  <div class="container">
    <div class="row">
      <div class="span12">
          <small>
            <p id="pCopywrite">
              2013 Anderson Araújo Lopes(RomaLopes) 
              <a class="iconSmal iconFb" href="http://facebook.com/romalopes" title="Follow me on facebook">
                  <span>Follow me on facebook</span>
              </a>
              <a class="iconSmal iconTwitter" href="http://twitter.com/romalopes" title="Follow me on Twitter">
                  <span>Follow me on Twitter</span>
              </a>
              <span id="sendToTopPage" class="pull-right">Go to Top <i class="icon-arrow-up icon-white"></i></span>
            </p>
          <small>
      </div>
    </div>
  </div>
</div>
