<% provide(:title, 'All Accounts') %>
<div class="row">
  <aside class="span4">
      <%= render 'shared/user_summary' %>  
  </aside>
  <div class="span8">
	<h3>All Accounts</h3>

	<%= will_paginate %>

	<ul class="accounts">
	  <% @accounts.each do |account| %>
	    <%= render account %>  <!-- Call view/accounts/_account.html.erb  -->
	  <% end %>
	</ul>  

	<%= will_paginate %>   </div>
</div>	
